$color-primary: #007a69;
$color-primary-dark: #00584c;

$color-gray-text: #656565;
$color-gray-text-2: #9c9c9c;

$color-gray-light: #ababab;

$color-gray-bg: #f9f9fb;
$color-gray-bg-2: #e5e5e5;

$color-white: #fff;
$color-black: #000;

$shadow-1: 0 1rem 4rem rgba(0, 0, 0, 0.2);

$shadow-2: 0 1rem 6rem rgba(0, 0, 0, 0.2);

$shadow-3: 0 1rem 2rem rgba(0, 0, 0, 0.2);

$default-size: 1.6rem;
